* {
  text-decoration: none;
}

.center {
  text-align: center;
}

#HeaderTop {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px 0 40px;
}

#navAccount, #navLogin {
  width: 10%;
}

#BBBSubtitle{
  text-align: center;
  margin: 10px 0; 
  text-decoration: none;
  font-size: 18px;
  color: black;
}

#BBBTitle{
  text-align: center;
  font-size: 24px;
  color: black;
}

#navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  margin: 10px 0;
  padding: 10px 0;
}

#navbar a {
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  color: black;
}


#homepageTop {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

#emptyjustforspacingpurposeslol, #viewToggle {
  width: 7%;
}

#HTTitle {
  text-align: center;
  width: 80%;
}

/* for list view */

.nounderline {
  text-decoration: none;
  color: black;
}

#neighborhoodLinks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border: 5px solid black;
  margin: 20px 300px;
  gap: 0 20px;
}

#neighborhoodLinks h2 {
  padding: 0;
  margin: 10px;
}

#public {
  width: 50px;
}

#neighborhood {
  width: 150px;
}

.LVLocation, .LVDescription, #public, #neighborhood {
  display: inline-block;
  margin: 10px 20px;
}

.LVLocation {
  width: 320px;
}

/* for the new bathroom's review form */

#toilet-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.hover-on {
  opacity: 100%;
}
.hover-off {
  opacity: 50%;
}


/* for show bathroom page, all reviews */
.review-div {
  outline: 2px dashed black;
}
/* for show bathroom page review form */
.review-form-div {
  top: 50%;
  left: 50%;
  margin-top: -23em;
  margin-left: -10em;
  border: 1px solid black;
  background-color: white;
  position: fixed;
}

.x-button {
  position:absolute;
  top: 0;
  right: 0;
  margin: 0;
}


/* for the OneBathrrom map */

.Wrapper {
  height: 800px;
  width: 800px;
  margin: 0 auto;
  
}

.OneBathroomMap {
  height: 600px;
  width: 90%;
  margin: 40px 5%;
  border: 3px solid rgb(198, 146, 20);
}